<div id="album-section" class="most-played-album-section">
  <h2>Your most played album is:</h2>

  <div class="most-played-album-section-content">
      <h4>For Lack of a Better Name</h4>
      <h6 class="most-played-album-section-content">Deadmau5</h6>

      <img class="most-played-images"
           src="https://upload.wikimedia.org/wikipedia/en/d/d2/Deadmau5_and_Rob_Swire_-_Ghosts_N_Stuff_cover_art.jpg">

  </div>

  <iframe src="https://open.spotify.com/embed/album/6WJvrBlL3zgu4mVoKyvMkl?utm_source=generator"
          width="75%" height="300px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write;
      encrypted-media; fullscreen; picture-in-picture"></iframe>

</div>