<div id="album-section" class="most-played-album-section">
    <h2 class="most-played-album-title">Your most played album is:</h2>

    <div class="most-played-album-section-content">
        <h1> <%= albumName %> </h1><br>
        <h3> <%= songsFromAlbum %> songs from this album appeared in your Top 50 of all time!</h3><br>
        <h2 class="most-played-album-section-content"><%= albumArtist %></h2>

        <img class="most-played-images"
             alt= "most-played-album-image"
             src=<%= albumCover.url %>>

    </div>
</div>