<div id="artist-section" class="most-played-artist-section">
  <h2>Your most played artist is:</h2>

  <div class="most-played-artist-section-content">
      <h4><%= artistName %></h4>
      <img class="most-played-artist-images"
           src=<%= artistCover.url %>
      >
  </div>
</div>