<div id="artist-section" class="most-played-artist-section">
  <h2>Your most played artist is:</h2>

  <div class="most-played-artist-section-content">
      <h4>Deadmau5</h4>
      <img class="most-played-images"
           src="https://upload.wikimedia.org/wikipedia/en/d/d2/Deadmau5_and_Rob_Swire_-_Ghosts_N_Stuff_cover_art.jpg">
  </div>
</div>