<div id="artist-section" class="most-played-artist-section">
  <h2 class= "favourite-header-text">Your most played artist is:</h2>

  <div class="most-played-artist-section-content">
    <ul class="most-played-artist-ul-tag">
      <% for(let i = 0; i < topArtists.length; i++) { %>
        <li class="most-played-li-tag"><%= topArtists[i].artist_name %></li>
      <% } %>
    </ul>
    <div class="most-played-artist">
      <img class="most-played-artist-images"
        src=<%= topArtistCover.url %>>
    </div>
  </div>
</div>