<div id="artist-section" class="most-played-x-container">

    <h2 class="favourite-header-text">Your most played artists are:</h2>

    <div class="most-played-x-section-content">

        <div class="most-played-artist-list">
            <ul class="most-played-artist-list-tag">
              <h3>Your top 5 artists <%= timeRangeContent %>!</h3>
                <% for(let i = 0; i < topArtists.length; i++) { %>
                    <li class="most-played-artist-list-inside-artist"><%= topArtists[i].artist_name %></li>
                <% } %>
            </ul>
        </div>

        <div class="most-played-x-name-and-cover">
            <img id="cover" class="most-played-images-circle" src=<%= topArtistCover.url %>>
            <img id="blurred" class="most-played-images-circle" src=<%= topArtistCover.url %>>
        </div>

    </div>
</div>