<div id="decade-section" class="most-played-x-container">
  <h2>Your Favourites by the Decade:</h2>
  <h4>Deadmau5</h4>
  <h6>Ghosts 'n' stuff</h6>
  <img class="most-played-images-square"
       src="https://upload.wikimedia.org/wikipedia/en/d/d2/Deadmau5_and_Rob_Swire_-_Ghosts_N_Stuff_cover_art.jpg">
</div>