<div id="genre-section" class="your-top-genres">
  <h2>Top genre</h2>
  <div id="grid-container">
    <% topTenGenres.forEach(genre => { %>   
          <div class="grid-item"></div>
    <% }) %>
  </div>
</div>