<meta charset="UTF-8">
<title>Wrapify</title>
<link rel="icon" type="image/x-icon" href="https://drive.google.com/thumbnail?id=1H-tzh5FdrYjjpUjrSgsDXaw39OlWr0bw">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->