<nav class="container">
  <a class="nav-link-left" id="sec-1" href="/">Most listened to</a>
  <a class="nav-link-left" id="sec-2"  href="/">Decade</a>
  <a class="nav-link-left" id="sec-3"  href="/">Genre</a>
  <a class="navbar-brand" href="/">WRAPIFY</a>
  <a class="nav-link-right" href="/login">Username</a>
</nav>