<nav class="navbar-container">
  <a class="nav-link-left" id="sec-1" href="#album-section">Most listened to</a>
  <a class="nav-link-left" id="sec-3" href="#genre-section">Genre</a>
  <a class="nav-link-left" id="sec-2" href="#decade-section">Decade</a>
  <a class="navbar-brand" href="/">WRAPIFY</a>
  <a class="nav-link-right" href="/login">Log in</a>
</nav>