<nav class="container">
  <a class="nav-link-left" id="sec-1" href="#album-section">Most listened to</a>
  <a class="nav-link-left" id="sec-3" href="#genre-section">Artist</a>
  <a class="nav-link-left" id="sec-2" href="#decade-section">Decade</a>
  <img class="wrapify-logo" id="wrapify-logo" src="/images/wrapify_logo_black.png"></img>
  <a class="navbar-brand" href="/">WRAPIFY</a>
  <a class="nav-link-right" href="/login">Username</a>
</nav>