<nav class="navbar-container">
    <div class="dropdown">
        <button class="dropbtn">Most listened to:</button>
        <div class="dropdown-content">
            <a class="nav-link-left" id="sec-1" href="#song-section">Songs</a>
            <a class="nav-link-left" id="sec-1" href="#artist-section">Artists</a>
            <a class="nav-link-left" id="sec-1" href="#album-section">Albums</a>
            <a class="nav-link-left" id="sec-3" href="#genre-section">Genre</a>
            <a class="nav-link-left" id="sec-2" href="#decade-section">Decade</a>
        </div>
    </div>
    <div class="navbar-brand">
        <img class="wrapify-logo" alt="logo"
             src="https://drive.google.com/thumbnail?id=1H-tzh5FdrYjjpUjrSgsDXaw39OlWr0bw">
        <a class="navbar-name" href="/">WRAPIFY</a>
    </div>

    <div class="dropdown">
        <button class="dropbtn">View Time Range:</button>
        <div class="dropdown-content">
            <% if(time_range === 'short_term') { %>
                <a class="nav-link-right" id="time-ranges-active" href=/view/short-term>Last 4 Weeks</a>
            <% } else { %>
                <a class="nav-link-right" id="time-ranges-normal" href=/view/short-term>Last 4 Weeks</a>
            <% } %>

            <% if(time_range === 'medium_term') { %>
                <a class="nav-link-right" id="time-ranges-active" href=/view/medium-term>Last 6 Months</a>
            <% } else { %>
                <a class="nav-link-right" id="time-ranges-normal" href=/view/medium-term>Last 6 Months</a>
            <% } %>

            <% if(time_range === 'long_term') { %>
                <a class="nav-link-right" id="time-ranges-active" href=/view/long-term>All Time</a>
            <% } else { %>
                <a class="nav-link-right" id="time-ranges-normal" href=/view/long-term>All Time</a>
            <% } %>
        </div>
    </div>


    <a class="nav-link-right" href=https://open.spotify.com/user/<%= user_id %>>
        <img id="profile-image" src=<%= profile_image %>>
    </a>
    <a class="username" id="username" href=https://open.spotify.com/user/<%= user_id %>> <%= display_name %></a>
</nav>
