<div id="song-section" class="most-played-x-container">

    <h1 class="favourite-header-text">Your most played songs are:</h1>

    <div class="most-played-x-section-content">

        <div class="most-played-x-name-and-cover">
            <h1 class="most-played-song-name"><%= topSongName %> </h1>

            <img id="cover" class="most-played-images-square" src=<%= topSongCover.url %>>
            <img id="blurred" class="most-played-images-square" src=<%= topSongCover.url %>>
        </div>

        <div class="most-played-song-list">
            <ul class="most-played-song-list-tag">
                <h3>Your top 5 songs of all time!</h3>
                <% for(let i = 0; i < topSongs.length; i++) { %>
                    <li class="most-played-song-list-inside-songs"><%= topSongs[i].song_name %></li>
                <% } %>
            </ul>
        </div>

    </div>
</div>
