<div id="song-section" class="most-played-song-section">
  <h2 class= "favourite-header-text">Your most played song is:</h2>

  <div class="most-played-song-section-content">
    <div class="most-played-artist">
    <img class="most-played-images" alt="most-played-song-album-image" src=<%= topSongCover.url %>>
    </div>
    <ul class="most-played-song-ul-tag">
      <% for(let i = 0; i < topSongs.length; i++) { %>
        <li class="most-played-li-tag"><%= topSongs[i].song_name %></li>
      <% } %>
    </ul>
  </div>
</div>
