<div id="song-section" class="most-played-song-container">

    <h1 class="favourite-header-text">Your most played songs are:</h1>

    <div class="most-played-song-section-content">

        <div class="most-played-song-name-and-cover">
            <h1 class="most-played-song-name"><%= topSongName %> </h1>
            <img id="cover" class="most-played-images-square" src=<%= topSongCover.url %>>
            <img id="blurred" class="most-played-images-square" src=<%= topSongCover.url %>>
        </div>

        <div class="most-played-song-list">
            <ul class="most-played-song-list-tag">
                <% for(let i = 0; i < topSongs.length; i++) { %>
                    <li class="most-played-artist-li-tag"><%= topSongs[i].song_name %></li>
                <% } %>
            </ul>
        </div>

    </div>
</div>
