<!DOCTYPE html>
<html lang="en">
<head> <%-include("./partials/head.ejs")%> </head>
<body>
<header> <%-include("./partials/header.ejs")%> </header>

<p>'ello t' raveller</p>
<p>beauteh</p>
</body>
</html>