<!DOCTYPE html>
<html lang="en">
<head> <%-include("./partials/head.ejs")%> </head>
<body>
<header> <%-include("./partials/header.ejs")%> </header>

<p>'ello t' raveller</p>
<p>beauteh</p>
<% artists.forEach((artist)=> { %>
    <h4><%= artist.name %></h4>
    <h6> <%= artist.song %></h6>
    <% });  %>
</body>
</html>