<head>
    <%- include("./partials/head.ejs") %>
</head>
<div class="landing-page-background-image">
<div class="welcome-page-margin-top"></div>
<div class="welcome-page-outer-div">
    <div class="welcome-page-inner-div-top">
        <img class="welcome-page-wrapify-logo" alt="logo"
             src="https://drive.google.com/thumbnail?id=1H-tzh5FdrYjjpUjrSgsDXaw39OlWr0bw">    
        <h1 class="title-landing-page">Wrapify</h1>
    </div>

    <div class="welcome-page-inner-div-box">
        <div class="welcome-page-inner-div-bottom">
            <h2 class="tagline-landing-page">Spotify wrapped, anytime.</h2> 
            <a class="login-button-landing-page" href="/login">Login with Spotify</a>
        </div>
    </div>
    
</div>
</div>
