<head>
    <%- include("./partials/head.ejs") %>
</head>
<div class="welcome-page-outer-div">
<h1 class="title-landing-page">Wrapify</h1>

<a class="login-button-landing-page" href="/login">Login with spotify</a>
</div>