body {
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: large;
    color: #1DB954;
    margin-top: 4em;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* NAVBAR CSS STYLINGS */

.navbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    text-align: center;
    position: fixed;
    background-color: whitesmoke;
    top: 0;
    z-index: 2;
}

.navbar-container a {
    padding: 22px;
    white-space: nowrap;
}

.nav-link-left {
    margin-right: 1em;
}

.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar-name {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.nav-link-right {
    margin-left: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

#section h2 {
    margin-top: 0;
}

.favourite-header-text {
    font-size: 3em;
    white-space: nowrap;
}

#username {
    padding-left: 0;
}

/* SITE-WIDE IMAGES */

img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
}

#profile-image {
    border-style: solid;
    border-radius: 25em;
    width: 4%;
    height: 4%;
    align-self: center;
}

.most-played-images-square {
    width: 50vh;
    max-height: 60vh;
    min-height: 30vh;
    border-radius: 5px;
    border-style: solid;
    background-color: #1DB954;
}

.most-played-images-circle {
  width: 50vh;
  max-height: 60vh;
  min-height: 30vh;
  border-radius: 50%;
  border-style: solid;
  background-color: #1DB954;
}

#blurred {
    z-index: 0;
    filter: blur(60px);
    align-self: center;
    grid-column: 1;
    grid-row: 1;
}

#cover {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    z-index: 1;
}

/* ALL SECTIONS */

.most-played-x-container {
    min-height: 100vh;
    min-width: 100%;
    padding: 1% 2%;
}

.most-played-x-section-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
}

.most-played-x-name-and-cover {
    display: grid;
}

/* MOST PLAYED SONG SECTION */

#song-section {
    background-color: #FFFFFF;
}

.most-played-song-name {
    padding-top: 3.5%;
    left: 0;
    width: 100%;
    text-align: center;
}

.most-played-song-list {
  min-width: 45%;
  display: flex;
  justify-content: center;
  max-width: 100vh;
  max-height: 100vh;
  margin-top: 1em;
}

.most-played-song-list-tag {
    color: #1DB954;
    list-style-type: decimal;
    font-size: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    list-style-position: inside;
    border-radius: 25px;
    padding: 2.5%;
}

.most-played-song-list-inside-songs {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    border-radius: 10px;
    margin: 4%;
}


/* MOST PLAYED ARTIST SECTION */

#artist-section {
    background-color: #191414;
}

.most-played-artist-name {
    padding-top: 3.5%;
    left: 0;
    width: 100%;
    text-align: center;
}

.most-played-artist-list-tag {
    color: #1DB954;
    list-style-type: decimal;
    font-size: 1.75em;
    text-align: center;
    list-style-position: inside;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #292929;
    border-radius: 25px;
    margin-bottom: 1em;
}

.most-played-artist-list-inside-artist {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2%;
  border-radius: 10px;
  margin: 4%;
}

.most-played-artist-name-and-cover {
    display: grid;
}

/* MOST PLAYED ALBUM SECTION */

#album-section {
    background-color: #1DB954;
}

.favourite-header-text-album {
    color: white;
    font-size: 3em;
    white-space: nowrap;
}

.most-played-album-name-amount-artist-name {
    text-align: center;
    color: white;
    left: 0;
    width: 100%;
    padding-top: 3.5%;
    margin-bottom: 1.5em;
}

.spotify-embedded-album-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
}

/* MOST PLAYED GENRE SECTION */

#genre-section {
    background-color: #191414;
}

.most-played-genre-ul-tag {
  column-count: 2;
  column-gap: 5em;
  color: #1DB954;
  list-style-type: decimal;
  font-size: 2em;
  margin-top: 1em;
  margin-left: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style-position: inside;
  border-radius: 25px;
  padding: 2.5%
}

.most-played-genre-li-tag {
  color: #1DB954;
}

/* DECADE SECTION */

#decade-section {
    background-color: #FFFFFF;
}

/* LANDING PAGE STYLING */

.login-button-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #1DB954;
    border-style: none;
    border-radius: 25em;
    width: 10em;
    height: 2em;
    color: #191414;
    font-family: 'Raleway', sans-serif;
}

.welcome-page-outer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-landing-page {
    font-weight: bolder;
    text-decoration: none;
    white-space: nowrap;
    padding: 5%;
    color: black;
}

.grid-container {
    display: flex !important;
    flex-direction: column;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.wrapify-logo {
  height: auto;
  width: auto;
  max-height: 4em;
  max-width: 4em;
}
.tagline-landing-page {
  font-size: 1em;
}

/*@media (max-width: 800px) {*/

/*    .most-played-images-square {*/
/*        max-width: 30vh;*/
/*        width: 30vh;*/
/*        height: 30vh;*/
/*    }*/
/*}*/
