body {
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: large;
    color: #1DB954;
    margin-top: 4em;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* NAVBAR CSS STYLINGS */

.navbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    text-align: center;
    position: fixed;
    background-color: whitesmoke;
    top: 0;
    z-index: 2;
}

.navbar-container a {
    padding: 22px;
    white-space: nowrap;
}

.nav-link-left {
    margin-right: 1em;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
}

.nav-link-right {
    margin-left: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

#section h2 {
    margin-top: 0;
}

.favourite-header-text {
    font-size: 3em;
    white-space: nowrap;
}

/* SITE-WIDE IMAGES */

.most-played-images-square {
    width: 50vh;
    height: 50vh;
    border-radius: 5px;
    border-style: solid;
    background-color: #1DB954;
    margin: 5%;
}

.most-played-images-round {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    border-style: solid;
    background-color: #1DB954;
    margin: 5%;
}

img {
    max-width: 100%;
    height: auto;
}

#blurred {
    z-index: 0;
    filter: blur(100px);
}

#cover {
    z-index: 1;
}

/* MOST PLAYED SONG SECTION */

#song-section {
    height: 100vh;
    width: 100%;
    padding: 1% 5%;
}

.most-played-song-container {
    background-color: #FFFFFF;
}

.most-played-x-section-content {
    gap: 12.5%;
    display: flex;
    align-content: space-around;
    align-items: center;
    margin: 0;
}

.most-played-song-name {
    white-space: nowrap;
    left: 0;
    width: 100%;
    text-align: center;
}

.most-played-song-name-and-cover {
    padding-top: 5%;
    padding-left: 10%;
    display: grid;
}
.most-played-song-name-and-cover #cover, #blurred {
    grid-column: 1;
    grid-row: 1;
}

.most-played-song-list {
    width: 50%;
}

.most-played-song-container .most-played-images-square {
    grid-column: 1;
    grid-row: 1;
}

.most-played-song-list-tag {
    color: #1DB954;
    list-style-type: decimal;
    font-size: 1.75em;
}

/* MOST PLAYED ARTIST SECTION */

.most-played-artist-container {
    background-color: #191414
}

#artist-section {
    height: 100vh;
    width: 100%;
    padding: 1% 5%;
}

.most-played-artist-section-content {
    gap: 12.5%;
    display: flex;
    align-content: space-around;
    align-items: center;
    margin: 0;
}

.most-played-artist-name {
    white-space: nowrap;
    right: 0;
    width: 100%;
    text-align: center;
}

.most-played-artist-list-tag {
    color: #1DB954;
    list-style-type: decimal;
    font-size: 1.75em;
}

.most-played-artist-list {
    width: 50%;
    padding-left: 10%;
}

.most-played-artist-name-and-cover {
    padding-top: 5%;
    padding-right: 10%;
    display: grid;
}

.most-played-artist-name-and-cover #cover, #blurred {
    grid-column: 1;
    grid-row: 1;
}

/* MOST PLAYED ALBUM SECTION */

.most-played-album-container {
    background-color: #1DB954;
}

.most-played-album-section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    float: left;
    color: white;
}

.most-played-album-container .most-played-images-square {
    float: left;
}

.most-played-album-name-and-cover {

}

.most-played-album-name {
    white-space: nowrap;
}

.most-played-album-title {
    color: black;
    font-size: xxx-large;
}

.spotify-embedded-album {
    align-content: flex-end;
}

.most-played-album-cover {
    display: grid;
    align-content: flex-start;
}

.most-played-album-cover #cover, #blurred {
    grid-row: 1;
    grid-column: 1;
}

#album-section {
    height: 100vh;
    width: 100%;
    padding: 2.5% 5%;
}

/* MOST PLAYED GENRE SECTION */

#genre-section {
    height: 100vh;
    width: 100%;
    padding: 2.5% 5%;
}

.your-top-genres-container {
    background-color: #191414;
}


/* DECADE SECTION */

#decade-section {
    height: 100vh;
    width: 100%;
    padding: 2.5% 5%;
}

/* LANDING PAGE STYLING */

.login-button-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #1DB954;
    border-style: none;
    border-radius: 25em;
    width: 10em;
    height: 2em;
    color: #191414;
}

.welcome-page-outer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-landing-page {
    font-weight: bolder;
    text-decoration: none;
    white-space: nowrap;
    padding: 5%;
    color: black;
}

.grid-container {
  display: flex !important;
  flex-direction: column;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.most-played-genre-ul-tag{
  column-count: 2;
  column-gap: 5em;
  color: #1DB954;
  list-style-type: decimal;
  font-size: 2em;
  margin-top: 1em;
  margin-left: 1em;
  padding-top: 1em;
}

.most-played-genre-li-tag {
  color: #1DB954;
}